/DoomRPG/*.log
/DoomRPG/maps/*.dbs
/DoomRPG/maps/*.backup1
/DoomRPG/maps/*.backup2
/DoomRPG/maps/*.backup3
/DoomRPG/maps/*.bak
/Utilities/Doom RPG Launcher/*.suo
/Utilities/Doom RPG Launcher/obj
/Utilities/Doom RPG Launcher/bin
/Utilities/GDCC
/IR/*.obj
*.zip
