/DoomRPG/*.log
/DoomRPG/maps/Outpost.dbs
/DoomRPG/maps/Outpost.wad.backup1
/DoomRPG/maps/Outpost.wad.backup2
/DoomRPG/maps/Outpost.wad.backup3
/DoomRPG/maps/Outpost.wad.bak
/Utilities/Doom RPG Launcher/*.suo
/Utilities/Doom RPG Launcher/obj
/Utilities/Doom RPG Launcher/bin
